.Contact-container {
    border: 2px solid white;
    border-radius: 15px;
    @include spacing();
    @include displayColumn();
    & .Contact-container-content {
        margin-top: 10px;
        @include displayColumn();
        align-items: center;
        & a:hover {
            text-decoration: underline;
        }
    }
    margin: 30px;
}