$colorBack1: rgb(13, 13, 38);
$colorBack2: rgb(0, 0, 0);
$colorBack3: rgb(12, 12, 12);
$colorMain: rgb(157, 136, 96);
$colorMDarker: rgb(113, 99, 71);
$colorMLighter: rgb(213, 186, 134);
$colorFont: rgb(236, 236, 249);
$colorButton: rgb(0, 0, 0);

$sizeXS: 0.6rem;
$sizeS: 1.2rem;
$sizeM_S: 1.6rem;
$sizeM: 1.8rem;
$sizeL: 2.4rem;
$sizeXL: 3rem;
$sizeIcon: 50px;
$changeView: 650px;

@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
$fontFamily: 'Cambay', sans-serif, arial;