.Info-page {
    @include displayCenter();
    & .Info-portrait {
        width: 100%;
        height: 25vh;
        background-size: cover;
        background-position: center;
    }
    & .Info-title {
        @include spacing();
        padding-bottom: 0;
        width: 100%;
    }
    & .Info-image {
        max-width: 30vw;
        min-width: 300px;
        margin: 10px;
    }
    & .Info-content {
        max-width: 40vw;
        min-width: 300px;
        @include spacing();
        padding-top: 0;
        order: 1;
        @media (min-width: $changeView) {
            order: 0;
        }
    }
}

.Info-image-contact {
    @include displayColumn();
    align-items: center;
    & .Contact-container {
        order: -1;
    }
}