@mixin bodyColor() {
    background: linear-gradient(217deg, rgba(13,13,38,.8), rgba(13,13,38,.1) 70.71%),
                linear-gradient(127deg, rgba(19,19,57,.8), rgba(19,19,57,.1) 70.71%),
                linear-gradient(336deg, rgba(48,48,63,.8), rgba(48,48,63,.1) 70.71%);
}

@mixin spacing($size: $sizeS) {
    margin: $size;
    padding: $size;
}

@mixin lightText($color: grey) {
    font-weight: bold;
    text-shadow: $color 0.5rem 0.5rem 1rem, $color -0.5rem -0.5rem 1rem, $color -0.5rem 0.5rem 1rem, $color 0.5rem -0.5rem 1rem;
}
@mixin lightContainer($color: grey) {
    box-shadow: $color 0.5rem 0.5rem 1rem, $color -0.5rem -0.5rem 1rem, $color -0.5rem 0.5rem 1rem, $color 0.5rem -0.5rem 1rem;
}
@mixin unlightContainer() {
    box-shadow: none;
}

@mixin displayCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin displayColumn() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}